# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
logs
*.log
npm-debug.log*

# Directorio de caché npm
.npm

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de IDE/editores
.idea/
.vscode/
*.swp
*.swo